@media(min-width:576px) {
    .container {
        width: 54rem;
    }
}

@media(min-width:768px) {
    .container {
        width: 72rem;
    }
}

@media(min-width:992px) {
    .container {
        width: 96rem;
    }
}

@media(min-width:1200px) {
    .container {
        width: 114rem;
    }
}

@media(max-width:1024px) {

    div .header-center {
        display: none;
    }

    .list {
        display: none;
    }
}

@media(max-width:1204px) {
    .image {
        height: 44vh;
    }

    .ofer {
        margin: 1rem;
    }

    .ofers-box {
        padding: 0;
    }

    .bestselling-boxs {
        justify-content: space-evenly;
    }

    .bestselling-box {
        margin: 1rem;
    }

    .level-img {
        height: 26vh;
    }
    .photos {
        justify-content: center;
    }
}


@media(min-width:1024px) {
    .list-mobile svg {
        display: none;
    }

    .mobile-nav,
    .cover {
        display: none;
    }
}

@media(max-width:992px) {
    .level-img {
        height: 19vh;
    }
}

@media(max-width:800px) {
    .image {
        height: 28vh;
    }
}

@media(max-width:768px) {
    .ofers-box {
        justify-content: space-evenly;
    }

    .level-img {
        height: 14vh;
    }
}


@media(min-width:576px) {
    .bi-person {
        display: none;
    }
}


@media(max-width:576px) {
    .app-logo-img {
        width: 11rem;
    }

    .header-left {
        font-size: 1.5rem;
    }

    .sign-up-active {
        display: none;
    }

    .level-img {
        height: 8vh;
    }
    .photo-img {
        width: 38rem;
    }
}

@media(max-width:477px) {
    .header-wrapper .header-left {
        display: none;
    }
}

@media(max-width:450px) {
    .image {
        height: 15vh;
        object-fit: cover;
    }
    .photo-img {
        width: 30rem;
    }
}
@media(max-width:300px) {
    .photo-img {
        width: 30rem;
    }
}

@media(max-width:280px) {
    .products-title {
        font-size: 2rem;
    }

    progress {
        width: 10rem;
    }

    .bestselling-title {
        font-size: 1.5rem;
    }

    .bestselling-wrapper span {
        font-size: 1rem;
    }

    .bestselling-description {
        font-size: 1rem;
    }

    .level-img {
        height: 7vh;
    }
    .photo-img {
        width: 25rem;
    }
}